//fonts
$ff: 'Montserrat';

//font-sizes
$fs-xsm: 12px;
$fs-sm: 15px;
$fs-md: 16px;
$fs-lg: 22px;
$fs-xl: 28px;
$fs-xxl: 40px;
$fs-xxxl: 60px;

//font-weight
$fw-light: 300;
$fw-reg: 500;
$fw-med: 700;
$fw-bold: 900;


//colors
$clr-white: #ffffff;
$clr-lightblue: #0098B1;
$clr-blue-50: #007AFF;
$clr-blue-100: #053D75;
$clr-yellow: #EED202;
$clr-orange: #FFA500;
$clr-red-50: #FF0000;
$clr-red-100: #BE0032;
$clr-red-150: #A50021;

//breakpoints
$phone: '(max-width: 480px)';